<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
        <title>Dashboard</title>
    </head>   
    <body class="container">
        <header>
            <%- include('./partials/header'); %>
        </header>
        <main>
            <div class="container mt-4"></div>
                <a href="/users/logout">Logout</a>
                <h1>Hello <%= user.charAt(0).toUpperCase() + user.slice(1) %></h1>
            </div>
        </main>    
        <footer>
            <%- include('./partials/footer'); %>
        </footer>
    </body>
</html>
