<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Sign-In</title>
<body class="container">
<header>
    <%- include('./partials/header'); %>
</header>

<main>
    <div class="container border mt-4">
        <div class="col-xl-5 col-md-8">
            <h3>Recover your password</h3>
            <p>Enter your email, phone, or username and we'll send you a link to get back into your account.</p>
            <form action="/users/forgot" method="POST" class="bg-white rounded shadow-5-strong p-5">
            <div class="form-outline mb-4">
                <input type="email" name="email" id="email" placeholder="Email" required class="form-control" autofocus/> 
            </div>
            <div class="row mb-4">
                <div class="col text-right">
                    <a href="/users/register">Sign-On</a> | <a href="/users/login">Sign-In</a>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Reset</button>
        </form>
        </div>
    </div>
 
</main>
<% if (messages.success_msg) { %>
    <div >
        <ul class="list-group">
            <li class="list-group-item ist-group-item-success""><%= messages.success_msg %></li>
        </ul>
    </div>
    <% } %>
    <% if (messages.error) { %>
    <div >
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger"><%= messages.error %></li>
        </ul>
    </div>
    <% } %>
</body>
</html>
