<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet" />
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    
        <% if (typeof errors != 'undefined') { %>
            <ul>
                <% errors.forEach(error => { %>
                    <li> <%= error.message %></li> 
                    <% }) %>
            </ul>
        <% } %>

    <form action="/users/register" method="POST">
        <div>
            <input id="username" type="text" name="username" placeholder="Username" required /> 
        </div>
        <div>
            <input id="firstname" type="text" name="firstname" placeholder="Firstname" required /> 
        </div>
        <div>
            <input id="lastname" type="text" name="lastname" placeholder="Lastname" required /> 
        </div>
        <div>
            <input id="email" type="email" name="email" placeholder="Email" required /> 
        </div>
        <div>
            <input id="password" type="password" name="password" placeholder="Password" required /> 
        </div>
        <div>
            <input id="password2" type="password" name="password2" placeholder="Confirm password" required /> 
        </div>
        <div>
            <input type="submit" value="Register" />
        </div>
        <a href="/users/login"> Already registered? Login here</a>
    </form>
</body>
</html>